<!DOCTYPE html>
<html ng-app="sample">

<head lang="ja">
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js"></script>

  <title>Daily AngularTS Sample01</title>
  <script>
    angular.module('sample', ['ng'])
      .controller('sample01Controller', function(){
        this.showNameList = true;
        this.first = 'Michael';
        this.last = 'Jackson';
        var self = this;
        this.setStaticName = function(first, last){
          self.first = first;
          self.last = last;
        }
      });
  </script>
</head>

<body ng-controller="sample01Controller as c">

  <button ng-click="c.showNameList = !c.showNameList">名前リストを表示する</button>

  <div ng-show="c.showNameList">
    <button ng-click="c.setStaticName('Itaru','Kitagawa')">Kitagara Itaru</button>
    <button ng-click="c.setStaticName('Ryouta','Sakamoto')">Sakamoto Ryouta</button>
  </div>

  <div>
    First Name:<input ng-model="c.first" type="text"/>
    <br/>
    Last Name:<input ng-model="c.last" type="text"/>
    <br/>
    <br/>
    Hello, {{c.first}} {{c.last}}!
  </div>

</body>

</html>
