<!DOCTYPE html>
<html ng-app="sample">

<head lang="ja">
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js"></script>

  <title>Sample01</title>
</head>

<body>
  <section class="content" ng-controller="SampleController as ctrl">
    <div class="control">
      <button ng-click="ctrl.hideDisplay()" ng-show="ctrl.isDisplayNameList">名前候補を非表示にする</button>
      <button ng-click="ctrl.showDisplay()" ng-hide="ctrl.isDisplayNameList">名前候補を表示にする</button>
      <div ng-show="ctrl.isDisplayNameList">
        名前候補:
        <button ng-click="ctrl.setName('My', 'name')">My Name</button>
        <button ng-click="ctrl.setName('test', 'two')">Test 2</button>
      </div>
      <div>
        First Name: <input type="text" ng-model="ctrl.first"><br>
        Last Name: <input type="text" ng-model="ctrl.last">
      </div>
    </div>
    <div class="display">
      <p>Hello, {{ctrl.first}} {{ctrl.last}}</p>    
    </div>
  </section>
</body>
<script type="text/javascript">
angular.module('sample', ['ng'])
  .controller('SampleController', ['$scope', function ($scope) {
    this.first = 'Michel';
    this.last = 'Jackson';
    this.isDisplayNameList = true;

    this.showDisplay = function() {
      this.isDisplayNameList = true;
    };
    this.hideDisplay = function() {
      this.isDisplayNameList = false;
    };
    this.setName = function(first, last) {
      this.first = first;
      this.last = last;
    };

  }]);
</script>
</html>
