<!DOCTYPE html>
<html ng-app="sample01">

<head lang="ja">
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js"></script>
  <title>Daily AngularTS Sample01</title>

  <script>
    angular.module('sample01', ['ng'])
      .controller('Sample01Controller', function(){

      this.first = 'Michael';
      this.last = 'Jordan';
      this.isSuggestVisible = true;

      var self = this;
      this.setName = function(first, last){
        self.first = first;
        self.last = last;
      }

      this.toggleSuggestVisibility = function(){
        self.isSuggestVisible = !self.isSuggestVisible;
      }
    });
  
  </script>

</head>

<body ng-controller="Sample01Controller as ctrl">

  <div>
    <button ng-click="ctrl.toggleSuggestVisibility()">
      <span ng-show="ctrl.isSuggestVisible">名前候補を非表示にする</span>
      <span ng-hide="ctrl.isSuggestVisible">名前候補を表示する</span>
    </button>
  </div>
  <br/>
  <br/>
  <div ng-show="ctrl.isSuggestVisible">
    名前候補:
    <button ng-click="ctrl.setName('Itaru', 'Kitagawa')"> Itaru Kitagawa </button>
    <button ng-click="ctrl.setName('Ryuta', 'Sakamoto')"> Ryuta Sakamoto </button>
  </div>

  <br/>
  <br/>
  <div>
    First Name:<input ng-model="ctrl.first" type="text"/>
    <br/>
    Last Name:<input ng-model="ctrl.last" type="text"/>
    <br/>
    <br/>
    Hello, {{ctrl.first}} {{ctrl.last}}!
  </div>
</body>

</html>
