<!DOCTYPE html>
<html ng-app="sample01">

<head lang="ja">
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js"></script>
  <title>Daily AngularTS Sample01</title>

  <script>
    angular.module('sample01', ['ng'])
      .controller('Sample01Controller', function(){
	this.first = 'Michael';
	this.last = 'Jordan';
      });
  
  </script>

</head>

<body ng-controller="Sample01Controller as ctrl">
  First Name:<input ng-model="ctrl.first" type="text"/>
  <br/>
  Last Name:<input ng-model="ctrl.last" type="text"/>
  <br/>
  Hello, {{ctrl.first}} {{ctrl.last}}!
</body>

</html>
