<!DOCTYPE html>
<html ng-app="sample">

<head lang="ja">
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js"></script>
  <script src="app.js"></script>

  <title>Sample01</title>
</head>

<body>
  <div ng-controller="SampleController as ctrl">
    First Name: <input type="text" ng-model="ctrl.first" ng-focus="ctrl.alertFirstName()"><br/>
    Last Name: <input type="text" ng-model="ctrl.last"><br/>
    <br/>
    Hello, {{ctrl.first}} {{ctrl.last}}!<br/>
  </div>
</body>

</html>
