<!DOCTYPE html>
<html ng-app="sampleApp">

<head lang="ja">
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js"></script>

  <script src="app.js"></script>
  <title>Sample02</title>
</head>

<body>
  <h1>Sample02 App</h1>
  <section ng-controller="FilterController as ctrl">
    <h2>Filters</h2>

    <section>
      <h3>Name</h3>
      <input type="text" ng-model="ctrl.name"><br/>
      <p>Plain: {{ ctrl.name }}</p>
      <p>UpperCase: {{ ctrl.name | uppercase }}</p>
      <p>LowerCase: {{ ctrl.name | lowercase }}</p>
    </section>

    <section>
      <h3>Height</h3>
      <input type="number" ng-model="ctrl.height"><br/>
      <p>Plain: {{ ctrl.height | number:0 }}</p>
      <p>First: {{ ctrl.height | number:1 }}</p>
      <p>Second: {{ ctrl.height | number:2 }}</p>
    </section>

    <section>
      <h3>Birthday</h3>
      <input type="date" ng-model="ctrl.birthday"><br/>
      <p>Plain: {{ ctrl.birthday }}</p>
      <p>yy/MM/dd: {{ ctrl.birthday | date: 'yy/MM/dd' }}</p>
      <p>yy-MMM-dd: {{ ctrl.birthday | date: 'yy-MMM-dd' }}</p>
      <p>東海岸: {{ ctrl.birthday | date: 'yy-MM-ddThh:mm' : -4 }}</p>

    </section>


    <section ng-controller="RepeatController as ctrl">
      <h2>Repeat</h2>
      <table>
        <tr ng-repeat="friend in ctrl.friends ">
          <td>{{friend.name}}</td>
          <td>{{friend.age}}</td>
          <td>{{friend.gender}}</td>
        </tr>
      </table>
    </section>


  </section>
</body>

</html>
